.header {

  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  list-style-type: none;
  overflow: hidden;
  font-family: arial, sans-serif;
  font-size: 13px;
}

.app-icon {
  padding: 5px 10px;
  align-items: center;
}

.app-icon :hover {
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.24), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
  border-radius: 50%;
}

.app-icon-li {
  margin-right: 15px;
  margin-top: 8px;
}

.pic :hover {
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.24), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
  border-radius: 50%;

}

.headerli a {

  color: black;
  text-align: center;
  padding: 5px 10px;
  text-decoration: none;
}

.headerli a:hover {
  text-decoration: underline;
}

.headerli a:hover {
  text-decoration: underline;
}

.container {

  margin: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.google-logo {
  height: 92px;
  width: 272px;
}

.search-area {
  background: #fff;
  display: flex;
  border: 1px solid #dfe1e5;
  border-radius: 24px;
  box-shadow: none;
  z-index: 3;
  height: 38px;
  margin: 0 auto;
  margin-top: -77px;
  width: 582px;
  padding: 5px 8px 0 14px;
}

.search-area:hover {
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.24), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
}

.search {
  flex: 1;
  display: flex;
  padding: 5px 8px 0 16px;
  padding-left: 14px;
}

.search-img {
  display: flex;
  align-items: center;
  padding-right: 13px;
  margin-top: -5px;
}

.search-img span {
  color: #9aa0a6;
  height: 20px;
  width: 20px;
  margin-top: 0px;
  display: inline-block;
  fill: currentColor;
  line-height: 24px;
  position: relative;
}

.input-enter {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
}

.input-area {
  color: transparent;
  flex: 100%;
  white-space: pre;
  font: 16px arial, sans-serif;
  line-height: 34px;
  height: 34px !important;
  display: block;
}

.input {
  margin: 0;
  padding: 0;
  border: none;
  color: rgba(0, 0, 0, 0.87);
  word-wrap: break-word;
  outline: none;
  display: flex;
  flex: 100%;
  margin-top: -68px;
  font: 16px arial, sans-serif;
  line-height: 24px;
  height: 24px !important;
  width: 480px;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  text-align: start;
  appearance: textfield;
  cursor: text;
}

.keybord {
  display: flex;
  align-items: center;
  padding-right: 8px;
  margin-top: -5px;
  cursor: pointer;
  width: 24px;
  align-items: center;
}

.search-voice {
  display: flex;
  flex: 1 0 auto;
  align-items: center;
  padding-right: 8px;
  margin-top: -5px;
  width: 24px;
  line-height: 44px;
}

.search-voice span {
  color: #9aa0a6;
  height: 20px;
  cursor: pointer;
  align-items: center;
  width: 20px;
  margin-top: 0px;
  display: inline-block;
  fill: currentColor;
  line-height: 24px;
  position: relative;
}

.buttons {

  padding-top: 18px;
  display: block;
  text-align: center;
  height: 36px;
}

.buttons a {
  border: 1px solid #f2f2f2;
}

.buttons :hover {
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.24), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
}

.googlesearch {
  font-size: 14px;
  font-family: Arial;
  color: #5f6368, ;
  background-color: #f8f9fa;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;

}

.feelinglucky {
  font-size: 14px;
  font-family: Arial;
  color: #5f6368, ;
  background-color: #f8f9fa;
  padding: 0 16px;
  line-height: 27px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

.footer {
  margin: 0;
  padding: 0 20px;
  overflow: hidden;
  border: 1px solid #dfe1e5;
  border-top: 1px solid #dadce0;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-left: -8px;
  line-height: 10px;
  background-color: #f2f2f2;

}

.footerli {
  list-style-type: none;
  display: inline-flex;
  text-align: center;
  padding: 5px 16px;
  font-family: arial, sans-serif;
  font-size: 14px;

}

.footerli li a {
  color: #70757a;
  padding: 15px;
  text-decoration: none;
}

.footer-right {
  float: right;
  margin-right: 20px;
}

.footerli a:hover {
  text-decoration: underline;
}